@page "/"

<PageTitle>Index</PageTitle>
@{
    string SysName = System.Environment.MachineName;
}

<h1>Hello, world! from @SysName</h1> 

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
